
form{
    display: flex;
    flex-direction: column;
    width:35%;
    background: linear-gradient(60deg,rgb(32, 63, 32),rgb(122, 153, 82),rgb(231, 229, 79));
    padding: 12px;
    margin: 12px;
    border-radius: 10px;

}
label{
    display: inline-block;
    margin: 5px;
    padding: 2px;
    font-weight: bold;
}
input,select{
    padding: 4px;
    margin: 2px;
    border-radius: 5px;
    border: 1px solid #fff;
}
.formPlan{
    display: inline-block;
    border-radius:5px ;
    border:1px solid #fff;
}
.signup{
    font-weight: bold;
    width:100px;
    height: 30px;
    text-align: center;
    background-color:rgb(231, 229, 79); 
    color: #000;  
    margin: auto;  
    border-radius: 5px;
    border:1px solid #fff;


}

